[submodule "ImGui.NET"]
	path = ImGui.NET
	url = https://github.com/mellinoe/ImGui.NET.git
[submodule "MelonLoader"]
	path = MelonLoaderForBuilding
	url = https://github.com/ThePotato97/PhasmophobiaPotatoGUI
